<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h2><u>Enter the details of new user</u></h2>
    <form action="/user/new" method="POST">
        <b>Enter email: </b>&nbsp;<input name="email" type="email" placeholder="Enter email"><br><br>
        <b>Enter username: </b>&nbsp;<input name="username" type="text" placeholder="Enter username"><br><br>
        <b>Enter password: </b>&nbsp;<input name="password" type="password" placeholder="Enter password"><br><br>
        <button>Submit!!</button>
    </form>
</body>
</html>